<!-- not working -->
<!DOCTYPE html>
<html>
<head>
  <title>ECE Credit Checker</title>
  <link rel="stylesheet" href="../static/index.css"/>
  <script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }
  </script>
</head>
<body onload="disableSubmit()">
<div class="container">  
  <form action="/result" method="POST" id="contact">
    <h3>UWaterloo ECE Credit Checker</h3>
    <h4>Can You Graduate?</h4>
    <textarea name="transcript" placeholder="Paste Unofficial Transcript Here" type="text" tabindex="1" required autofocus form="contact" style="margin-left: 0px;margin-right: 0px;width: 353px;max-width: 353px;height: 200px;"></textarea>
    <form id="transreader">
      <input required autofocus type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I Agree To The <a href="/disclaimer" class="button">Credit Checker Services Agreement</a>
      <br><br>
      <button name="submit" type="submit" id="contact-submit">Submit</button>
    </form>
    <p class="copyright">Designed by<a href="https://www.youssefibrahim.com"> Youssef Ibrahim</a></p>
  </form>
</div>
</body>
</html>