<!DOCTYPE html>
<html>
<head>
  <title>ECE Credit Checker</title>
  <link rel="stylesheet" href="../static/index.css"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div>
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: white;
      }

      li {
          float: left;
      }
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
    </style>
  </div>

  <ul style="width: 100%;position: absolute;top: 0px;left: 0px;">
    <li><a style="font-size: 25px;color: black;font-weight: bold;padding-bottom: 5px;padding-top: 5px;text-decoration: none;" class="active" href="/">Credit Checker</a></li>
  </ul>
<div class="container">  
  <form action="/result" method="POST" id="contact">
    <h3>UWaterloo ECE Credit Checker</h3>
    <h4>Can You Graduate?</h4>
    <textarea name="transcript" placeholder="Paste Unofficial Transcript Here" type="text" tabindex="1" required autofocus form="contact" style="margin-left: 0px;margin-right: 0px;width: 320px;max-width: 320px;height: 200px;"></textarea>
    <form class="transreader">
      <div class="drop">
        <select name="dropdown" id="dropdown-menu" style="color: black;font-weight: 400;padding-bottom: 0px;border-bottom-width: 10px;border-top-width: 10px;border-color: transparent;">
          <option id="dropdown-text">Computer Engineering</option>
          <option id="dropdown-text" selected>Electrical Engineering</option>
      </select>
      </div>
      <input required autofocus type="checkbox" name="terms" id="terms" onchange="activateButton(this)">
      <a style="color: black;font-weight: 300;text-decoration: none;" classstyle="color: black;">I Agree To The </a>
      <a style="color: blue;font-weight: 300;text-decoration: underline;" href="/disclaimer" class="button">Credit Checker Services Agreement</a>
      <br><br>
      <button name="submit" type="submit" id="contact-submit">Submit</button>
    </form>
    <p style="font-weight: 400;" class="copyright">Created by<a href="https://www.youssefibrahim.com"> Youssef Ibrahim</a></p>
  </form>
</div>
</body>
</html>